path[fill='#123456']{display:none !important;}
path{
    cursor:pointer;
    stroke:rgba(100, 100, 100, 0.301);
}

.chart-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden !important;
    justify-content:center;
    align-items: center;
    overflow: scroll;
    background: var(--clr-light-2);
    padding: 2em 0;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    box-shadow: var(--bs-subtle);
}

.chart-heading {
    width: 100vw;
    text-align: center;
    color: var(--clr-dark-1);
}

.table-container {
    background-color: var(--clr-dark-1);
}

.loader {
    color: var(--clr-light-2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards-container {
    width: 100%;
    display: flex;
    padding: 2em;
    background-color: var(--clr-dark-1);
    flex-wrap:wrap;
    justify-content: space-between;
}

.text-info {
    font-size: 1rem;
    margin-top: 2em;
    width: 100vw;
    text-align: center;
    color: var(--clr-dark-1);
    font-weight: 700;
    font-family: "Poppins";
}

.text-sorry {
    width: 10vw;
    font-size: 0.8rem;
    color: var(--clr-dark-1);
}

.text-sorry i {
    color: var(--clr-accent);
}

.table-container {
    border: 0.5em solid transparent;
    border-radius: 0.5em;
    padding:0 0.5em;
    width: 100%;
    overflow-x:scroll;
    margin: 10px 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container::-webkit-scrollbar {
    width: 0px;
    margin-top: 2em;
    background: transparent;
}

.text-table-info {
    display: none;
    font-size: 0.9em;
    margin: 1em;
    color: var(--clr-light-2);
    text-align:center;
}

@media(max-width: 600px) {

    .text-sorry {
        width: 90vw;
        margin: 5px auto;
    }

    .text-table-info {
        display: block;
    }
}

.centered-link {
    text-align: center;
}

.location-dropdown {
    display: inline-block;;
    width: 150px;
    height: 30px;
    padding: 2px;
    padding-left: 7px;
    border: 1px solid var(--clr-dark-1);
    border-radius: 5px;
    font-family: "Poppins";
    appearance: none;
    position: relative;
    margin-top: 1em;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
    background-position-x: 120px;
     background-color: var(--clr-light-2);
}

.location-dropdown option {
    height: 20px;
    padding: 2px;
    padding-left: 7px;
    font-family: "Poppins";
    background-color: var(--clr-light-2);
    display: block;
    border-radius: 5px;
}
