.news {
    background: blue;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

img {
    max-width: 100%;
    height: auto;
    padding: 2%;
    border-radius: 1rem;
}

.cards {
    position: relative;
    display: flex;
    min-width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    background: linear-gradient(140deg, rgba(143,225,241,1) 0%, rgba(234,250,255,1) 51%, rgba(143,225,241,1) 100%);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
    margin: 1%;
    border: 1.5px solid #80aaff;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card-title {
    margin-bottom: 0.5rem;
}


.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}


.col-8 {
    flex: 0 0 auto;
    width: 66.666667%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.333333%;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}

@media (min-width: 576px) {
    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.333333%;
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.666667%;
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.333333%;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.666667%;
    }
}

@media (min-width: 768px) {
    .col-md {
        flex: 1 0 0%;
        min-width: 0;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.333333%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.666667%;
    }
}

@media (min-width: 1200px) {
    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.333333%;
    }

    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.333333%;
    }

    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.666667%;
    }
}